.container {
  max-width: 1400px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
}
.master {
  background-image: linear-gradient(
      rgba(133, 129, 128, 0.274),
      rgba(4, 4, 4, 0.37)
    ),
    url("https://scontent-lhr8-1.xx.fbcdn.net/v/t39.30808-6/358712689_685029433668971_2203760882900135221_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9sI9u1c2tasAX8-jDmm&_nc_ht=scontent-lhr8-1.xx&oh=00_AfBC-GupMssn-CgBqaqkzpDfsNZ-qKqKCJFbhGNSo21U8w&oe=65F3E7F0");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 200px 0;
}
.header {
  background-color: rgba(0, 0, 0, 0.352);

  border-top: 4px dashed white;
  border-bottom: 4px dashed white;
  padding: 40px;
}
.master h1 {
  font-size: 110px;
  text-align: center;
  color: white;
  margin: 40px auto;
}

.master p {
  margin-top: -60px;
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.logos {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-items: center;
}
.logos a {
  text-align: center;
  font-size: 60px;
  color: white;
  margin: 0;
  padding: 0;
}
main {
  border: 3px dashed black;
  margin-top: 10px;
  background-color: rgba(214, 220, 220, 0.531);
}
main img {
  width: 600px;
}
.yellow-coat {
  padding: 0;
  width: 100%;
}
h3 {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 160px;
  text-align: right;
}
main p {
  margin: 30px;
  font-size: 25px;
  text-align: right;
}

section h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}
.featured .card {
  margin: 10px auto;
}
